examples/ccu-sysvar/01 - Set and read ReGaHSS system variables.json
[{"id":"c4c6155bfd4480f1","type":"ccu-sysvar","z":"cfa1c19758b37891","name":"ccu-sysvar","ccuConfig":"c2b0db6a4e66621c","topic":"ReGaHSS/${Name}","change":true,"cache":true,"x":270,"y":900,"wires":[["6b1a5fd96041b5dd"]]},{"id":"236aff414061176d","type":"comment","z":"cfa1c19758b37891","name":"Setzen und lesen von ReGaHSS Systemvariablen.","info":"","x":230,"y":860,"wires":[]},{"id":"1d1534bad4ab186c","type":"inject","z":"cfa1c19758b37891","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":900,"wires":[["c4c6155bfd4480f1"]]},{"id":"6b1a5fd96041b5dd","type":"debug","z":"cfa1c19758b37891","name":"ccu-sysvar output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":900,"wires":[]},{"id":"c2b0db6a4e66621c","type":"ccu-connection","name":"localhost","host":"localhost","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":true,"bcwiEnabled":false,"cuxdEnabled":false,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"","rpcServerHost":"127.0.0.1","rpcBinPort":"2048","rpcXmlPort":"2049","tls":false,"inSecure":false,"authentication":false,"username":"","password":"","queueTimeout":"5000","queuePause":"250","contextStore":""}]