examples/ccu-switch/01 - Route message based on context value.json
[{"id":"5b27ace04a68ed2c","type":"ccu-switch","z":"cfa1c19758b37891","name":"ccu-switch","ccuConfig":"c2b0db6a4e66621c","iface":"ReGaHSS","channel":"","sysvar":"Alarmmeldungen","sysvarProperty":"value","datapoint":"","datapointProperty":"value","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":1500,"wires":[["09320bd5802eb2a5"]]},{"id":"09320bd5802eb2a5","type":"debug","z":"cfa1c19758b37891","name":"ccu-switch output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":1500,"wires":[]},{"id":"c6ef334daef24c2a","type":"inject","z":"cfa1c19758b37891","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1500,"wires":[["5b27ace04a68ed2c"]]},{"id":"26808870373a73b4","type":"comment","z":"cfa1c19758b37891","name":"Nachricht abhängig von einem Zustand eines Aktors oder einer Systemvariablen weiterleiten.","info":"","x":360,"y":1460,"wires":[]},{"id":"c2b0db6a4e66621c","type":"ccu-connection","name":"localhost","host":"localhost","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":true,"bcwiEnabled":false,"cuxdEnabled":false,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"","rpcServerHost":"127.0.0.1","rpcBinPort":"2048","rpcXmlPort":"2049","tls":false,"inSecure":false,"authentication":false,"username":"","password":"","queueTimeout":"5000","queuePause":"250","contextStore":""}]