examples/ccu-mqtt/01 - Ease the connection of a CCU to MQTT.json
[{"id":"92d112a2c4dcdc32","type":"ccu-mqtt","z":"cfa1c19758b37891","name":"ccu-mqtt","ccuConfig":"c2b0db6a4e66621c","cache":false,"topicOutputEvent":"hm/status/${channelName}/${datapoint}","topicInputSetValue":"hm/set/${channelNameOrAddress}/${datapoint}","topicOutputSysvar":"hm/status/${name}","topicInputSysvar":"hm/set/${name}","topicInputPutParam":"hm/paramset/${channelNameOrAddress}/${paramset}/${param}","topicInputPutParamset":"hm/paramset/${channelNameOrAddress}/${paramset}","topicInputRpc":"hm/rpc/${iface}/${method}/${command}/${callid}","topicOutputRpc":"hm/response/${callid}","topicCounters":"hm/status/counter/${iface}/${rxtx}","payloadOutput":"mqsh-extended","x":280,"y":1620,"wires":[["cb547e84f0aa9f77"]]},{"id":"270321ff3272270b","type":"comment","z":"cfa1c19758b37891","name":"Vereinfacht die Anbindung einer CCU an MQTT.","info":"","x":220,"y":1580,"wires":[]},{"id":"cb547e84f0aa9f77","type":"debug","z":"cfa1c19758b37891","name":"ccu-mqtt output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":1620,"wires":[]},{"id":"90e13bf3d1ae1801","type":"inject","z":"cfa1c19758b37891","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1620,"wires":[["92d112a2c4dcdc32"]]},{"id":"c2b0db6a4e66621c","type":"ccu-connection","name":"localhost","host":"localhost","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":true,"bcwiEnabled":false,"cuxdEnabled":false,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"","rpcServerHost":"127.0.0.1","rpcBinPort":"2048","rpcXmlPort":"2049","tls":false,"inSecure":false,"authentication":false,"username":"","password":"","queueTimeout":"5000","queuePause":"250","contextStore":""}]