examples/ccu-alexa/01 - Connect Homematic Devices with node-red-contrib-alexa-smart-home.json
[{"id":"946434f1cc8e4504","type":"ccu-alexa","z":"cfa1c19758b37891","name":"ccu-alexa","iface":"","channel":"","ccuConfig":"c2b0db6a4e66621c","x":280,"y":1740,"wires":[["d94515aca90cbbe7"]]},{"id":"91fc14137fd726c9","type":"comment","z":"cfa1c19758b37891","name":"Homematic Geräte mit node-red-contrib-alexa-smart-home verbinden.","info":"","x":290,"y":1700,"wires":[]},{"id":"54181190e19c1cae","type":"inject","z":"cfa1c19758b37891","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1740,"wires":[["946434f1cc8e4504"]]},{"id":"d94515aca90cbbe7","type":"debug","z":"cfa1c19758b37891","name":"ccu-alexa output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":1740,"wires":[]},{"id":"c2b0db6a4e66621c","type":"ccu-connection","name":"localhost","host":"localhost","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":true,"bcwiEnabled":false,"cuxdEnabled":false,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"","rpcServerHost":"127.0.0.1","rpcBinPort":"2048","rpcXmlPort":"2049","tls":false,"inSecure":false,"authentication":false,"username":"","password":"","queueTimeout":"5000","queuePause":"250","contextStore":""}]