examples/ccu-script/01 - Executes a ReGaHSS Script on the CCU and returns the output.json
[{"id":"7f5ee5d6b9d1184d","type":"ccu-script","z":"cfa1c19758b37891","name":"ccu-script","script":"","ccuConfig":"c2b0db6a4e66621c","topic":"${CCU}/${Interface}","x":280,"y":1140,"wires":[["366669f95cb46674"]]},{"id":"7d073fd74209238e","type":"comment","z":"cfa1c19758b37891","name":"Führt ein ReGaHSS Script auf der CCU aus und gibt die Rückgabe aus.","info":"","x":290,"y":1100,"wires":[]},{"id":"366669f95cb46674","type":"debug","z":"cfa1c19758b37891","name":"ccu-script output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":1140,"wires":[]},{"id":"dc7e445793d8a292","type":"inject","z":"cfa1c19758b37891","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1140,"wires":[["7f5ee5d6b9d1184d"]]},{"id":"c2b0db6a4e66621c","type":"ccu-connection","name":"localhost","host":"localhost","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":true,"bcwiEnabled":false,"cuxdEnabled":false,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"","rpcServerHost":"127.0.0.1","rpcBinPort":"2048","rpcXmlPort":"2049","tls":false,"inSecure":false,"authentication":false,"username":"","password":"","queueTimeout":"5000","queuePause":"250","contextStore":""}]