examples/ccu-program/01 - Executes a ReGaHSS program.json
[{"id":"f5f0f136e3f2a85d","type":"ccu-program","z":"cfa1c19758b37891","name":"ccu-program","ccuConfig":"c2b0db6a4e66621c","topic":"ReGaHSS/${Name}","x":290,"y":1020,"wires":[["b90acc43398bed2f"]]},{"id":"eaa2a67399f852d8","type":"comment","z":"cfa1c19758b37891","name":"Führt ein ReGaHSS Programm aus.","info":"","x":180,"y":980,"wires":[]},{"id":"1e01bba7c097fc25","type":"inject","z":"cfa1c19758b37891","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1020,"wires":[["f5f0f136e3f2a85d"]]},{"id":"b90acc43398bed2f","type":"debug","z":"cfa1c19758b37891","name":"ccu-program output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":1020,"wires":[]},{"id":"c2b0db6a4e66621c","type":"ccu-connection","name":"localhost","host":"localhost","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":true,"bcwiEnabled":false,"cuxdEnabled":false,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"","rpcServerHost":"127.0.0.1","rpcBinPort":"2048","rpcXmlPort":"2049","tls":false,"inSecure":false,"authentication":false,"username":"","password":"","queueTimeout":"5000","queuePause":"250","contextStore":""}]