examples/ccu-rpc/01 - Executes a RPC method and outputs the return value.json
[{"id":"42dfca5db5a24e3c","type":"ccu-rpc","z":"cfa1c19758b37891","name":"ccu-rpc","ccuConfig":"c2b0db6a4e66621c","iface":"","method":"","params":"[]","topic":"${CCU}/${Interface}/${Method}","x":280,"y":540,"wires":[["3118215bf94344e1"]]},{"id":"1859e01aee72042e","type":"inject","z":"cfa1c19758b37891","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":540,"wires":[["42dfca5db5a24e3c"]]},{"id":"3118215bf94344e1","type":"debug","z":"cfa1c19758b37891","name":"ccu-rpc output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":540,"wires":[]},{"id":"849bf30a99391096","type":"comment","z":"cfa1c19758b37891","name":"Führt eine RPC Methode aus und gibt das Ergebnis zurück.","info":"","x":260,"y":500,"wires":[]},{"id":"c2b0db6a4e66621c","type":"ccu-connection","name":"localhost","host":"localhost","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":true,"bcwiEnabled":false,"cuxdEnabled":false,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"","rpcServerHost":"127.0.0.1","rpcBinPort":"2048","rpcXmlPort":"2049","tls":false,"inSecure":false,"authentication":false,"username":"","password":"","queueTimeout":"5000","queuePause":"250","contextStore":""}]