examples/ccu-value/01 - Set and read channel datapoints.json
[{"id":"5c0d873b2061468f","type":"ccu-value","z":"cfa1c19758b37891","name":"ccu-value","iface":"","channel":"","datapoint":"","mode":"","start":true,"change":true,"cache":false,"queue":false,"on":0,"onType":"undefined","ramp":0,"rampType":"undefined","working":false,"ccuConfig":"c2b0db6a4e66621c","topic":"${CCU}/${Interface}/${channel}/${datapoint}","x":300,"y":160,"wires":[["55325dcf15fcc3c9"]]},{"id":"661dd5f7d44a9bf6","type":"inject","z":"cfa1c19758b37891","name":"Option 1","props":[{"p":"interface","v":"BidCos-RF","vt":"str"},{"p":"channel","v":"BidCoS-RF:1","vt":"str"},{"p":"datapoint","v":"LEVEL","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":120,"y":140,"wires":[["5c0d873b2061468f"]]},{"id":"042a5d8d32489005","type":"inject","z":"cfa1c19758b37891","name":"Option 2","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"BidCos-RF.BidCoS-RF:1.LEVEL","payload":"1","payloadType":"num","x":120,"y":180,"wires":[["5c0d873b2061468f"]]},{"id":"55325dcf15fcc3c9","type":"debug","z":"cfa1c19758b37891","name":"ccu-value output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":160,"wires":[]},{"id":"0d4242a72e54e35e","type":"comment","z":"cfa1c19758b37891","name":"Geräte steuern und/oder Events von einem Gerät empfangen.","info":"","x":260,"y":100,"wires":[]},{"id":"c2b0db6a4e66621c","type":"ccu-connection","name":"localhost","host":"localhost","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":true,"bcwiEnabled":false,"cuxdEnabled":false,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"","rpcServerHost":"127.0.0.1","rpcBinPort":"2048","rpcXmlPort":"2049","tls":false,"inSecure":false,"authentication":false,"username":"","password":"","queueTimeout":"5000","queuePause":"250","contextStore":""}]