examples/ccu-poll/01 - Triggers an immediate polling of Sysvars from ReGaHSS.json
[{"id":"1aa6e224e8643b34","type":"ccu-poll","z":"cfa1c19758b37891","name":"ccu-poll","script":"","ccuConfig":"c2b0db6a4e66621c","x":260,"y":1260,"wires":[]},{"id":"ac89506f7608684d","type":"comment","z":"cfa1c19758b37891","name":"Führt einen sofortigen Poll von ReGaHSS Systemvariablen durch.","info":"","x":270,"y":1220,"wires":[]},{"id":"577d81b307d426f8","type":"inject","z":"cfa1c19758b37891","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":1260,"wires":[["1aa6e224e8643b34"]]},{"id":"c2b0db6a4e66621c","type":"ccu-connection","name":"localhost","host":"localhost","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":true,"bcwiEnabled":false,"cuxdEnabled":false,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"","rpcServerHost":"127.0.0.1","rpcBinPort":"2048","rpcXmlPort":"2049","tls":false,"inSecure":false,"authentication":false,"username":"","password":"","queueTimeout":"5000","queuePause":"250","contextStore":""}]