examples/ccu-get-value/01 - Output the current state of a datapoint.json
[{"id":"3f1afe05bff12523","type":"ccu-get-value","z":"cfa1c19758b37891","name":"ccu-get-value","ccuConfig":"c2b0db6a4e66621c","iface":"ReGaHSS","channel":"","sysvar":"","sysvarProperty":"value","datapoint":"","datapointProperty":"value","setProp":"payload","setPropType":"msg","x":300,"y":1380,"wires":[["87e614bd6a60415a"]]},{"id":"87e614bd6a60415a","type":"debug","z":"cfa1c19758b37891","name":"ccu-get-value output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":1380,"wires":[]},{"id":"d15a587817344c58","type":"inject","z":"cfa1c19758b37891","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1380,"wires":[["3f1afe05bff12523"]]},{"id":"29bda89bf587a8a2","type":"comment","z":"cfa1c19758b37891","name":"Gibt bei eingehenden Nachrichten den aktuellen Zustand eines Datenpunktes oder einer CCU Systemvariable aus.","info":"","x":430,"y":1340,"wires":[]},{"id":"c2b0db6a4e66621c","type":"ccu-connection","name":"localhost","host":"localhost","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":true,"bcwiEnabled":false,"cuxdEnabled":false,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"","rpcServerHost":"127.0.0.1","rpcBinPort":"2048","rpcXmlPort":"2049","tls":false,"inSecure":false,"authentication":false,"username":"","password":"","queueTimeout":"5000","queuePause":"250","contextStore":""}]