examples/ccu-rpc-event/01 - Output RPC events.json
[{"id":"0b9e6a82208e9bb7","type":"ccu-rpc-event","z":"cfa1c19758b37891","name":"ccu-rpc-event","iface":"","ccuConfig":"c2b0db6a4e66621c","rooms":"","roomsRx":"str","functions":"","functionsRx":"str","device":"","deviceRx":"str","deviceName":"","deviceNameRx":"str","deviceType":"","deviceTypeRx":"str","channel":"","channelRx":"str","channelName":"","channelNameRx":"str","channelType":"","channelTypeRx":"str","channelIndex":"","channelIndexRx":"str","datapoint":"","datapointRx":"str","change":false,"working":false,"cache":false,"topic":"${CCU}/${Interface}/${channelName}/${datapoint}","x":110,"y":300,"wires":[["a0af1e220c0c08d1"]]},{"id":"d0d7c4f2af6524fd","type":"comment","z":"cfa1c19758b37891","name":"Gibt RPC Events aus.","info":"","x":140,"y":260,"wires":[]},{"id":"a0af1e220c0c08d1","type":"debug","z":"cfa1c19758b37891","name":"ccu-rpc-event output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":320,"y":300,"wires":[]},{"id":"c2b0db6a4e66621c","type":"ccu-connection","name":"localhost","host":"localhost","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":true,"bcwiEnabled":false,"cuxdEnabled":false,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"","rpcServerHost":"127.0.0.1","rpcBinPort":"2048","rpcXmlPort":"2049","tls":false,"inSecure":false,"authentication":false,"username":"","password":"","queueTimeout":"5000","queuePause":"250","contextStore":""}]