examples/ccu-signal/01 - Send LED and Sound-Signals.json
[{"id":"fb4eb3068d100608","type":"ccu-signal","z":"cfa1c19758b37891","name":"ccu-signal","iface":"BidCos-RF","channel":"","chime":"","length":108000,"repeat":1,"repeatType":"num","volume":100,"volumeType":"num","line1":"","line2":"","line3":"","signal":"","channelType":"","led":"","acousticAlarmSelection":"DISABLE_ACOUSTIC_SIGNAL","durationUnit":"S","durationValue":0,"durationValueType":"num","rampTimeUnit":"S","rampTimeValue":0,"rampTimeValueType":"num","repetitions":0,"dimmerColor":0,"dimmerLevel":100,"dimmerList":[],"soundLevel":50,"soundLevelType":"num","soundList":[],"opticalAlarmSelection":"DISABLE_OPTICAL_SIGNAL","ccuConfig":"c2b0db6a4e66621c","x":290,"y":660,"wires":[]},{"id":"b9f314190b7df078","type":"comment","z":"cfa1c19758b37891","name":"Senden von LED- und Tonsignalen an Displaytaster und Funk-Gongs.","info":"","x":290,"y":620,"wires":[]},{"id":"22922615b892f5a7","type":"inject","z":"cfa1c19758b37891","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":660,"wires":[["fb4eb3068d100608"]]},{"id":"c2b0db6a4e66621c","type":"ccu-connection","name":"localhost","host":"localhost","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":true,"bcwiEnabled":false,"cuxdEnabled":false,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"","rpcServerHost":"127.0.0.1","rpcBinPort":"2048","rpcXmlPort":"2049","tls":false,"inSecure":false,"authentication":false,"username":"","password":"","queueTimeout":"5000","queuePause":"250","contextStore":""}]