examples/ccu-display/01 - Send texts to displays.json
[{"id":"b390719d3868725b","type":"ccu-display","z":"cfa1c19758b37891","name":"ccu-display","iface":"BidCos-RF","channel":"","disable1":false,"line1":"","icon1":"","color1":"0x80","disable2":false,"line2":"","icon2":"","color2":"0x80","disable3":false,"line3":"","icon3":"","color3":"0x80","disable4":false,"line4":"","icon4":"","color4":"0x80","disable5":false,"line5":"","icon5":"","color5":"0x80","disable6":false,"line6":"","icon6":"","color6":"0x80","channelType":"","signal":"0xF0","repeat":"0xD0","pause":"0xE0","sound":"0xC0","ccuConfig":"c2b0db6a4e66621c","x":270,"y":780,"wires":[]},{"id":"06d64f2dfcb4566e","type":"inject","z":"cfa1c19758b37891","name":"","props":[{"p":"msg.line1","v":"Some Text","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":780,"wires":[["b390719d3868725b"]]},{"id":"b507ebc9e3c53ff2","type":"comment","z":"cfa1c19758b37891","name":"Texte an das Displays senden.","info":"","x":160,"y":740,"wires":[]},{"id":"c2b0db6a4e66621c","type":"ccu-connection","name":"localhost","host":"localhost","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":true,"bcwiEnabled":false,"cuxdEnabled":false,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"","rpcServerHost":"127.0.0.1","rpcBinPort":"2048","rpcXmlPort":"2049","tls":false,"inSecure":false,"authentication":false,"username":"","password":"","queueTimeout":"5000","queuePause":"250","contextStore":""}]