examples/ccu-set-value/01 - Control multiple devices at once.json
[{"id":"530b260e857b4c75","type":"ccu-set-value","z":"cfa1c19758b37891","name":"ccu-set-value","iface":"","ccuConfig":"c2b0db6a4e66621c","rooms":"","roomsRx":"str","functions":"","functionsRx":"str","device":"","deviceRx":"str","deviceName":"","deviceNameRx":"str","deviceType":"","deviceTypeRx":"str","channel":"","channelRx":"str","channelName":"","channelNameRx":"str","channelType":"","channelTypeRx":"str","channelIndex":"","channelIndexRx":"str","datapoint":"","datapointRx":"str","force":false,"x":300,"y":420,"wires":[]},{"id":"98dfd428fc13b404","type":"comment","z":"cfa1c19758b37891","name":"Ansteuerung von mehreren Geräten auf einmal.","info":"","x":220,"y":380,"wires":[]},{"id":"9b35826c83d65c33","type":"inject","z":"cfa1c19758b37891","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":420,"wires":[["530b260e857b4c75"]]},{"id":"c2b0db6a4e66621c","type":"ccu-connection","name":"localhost","host":"localhost","regaEnabled":true,"bcrfEnabled":true,"iprfEnabled":true,"virtEnabled":true,"bcwiEnabled":false,"cuxdEnabled":false,"regaPoll":true,"regaInterval":"30","rpcPingTimeout":"60","rpcInitAddress":"","rpcServerHost":"127.0.0.1","rpcBinPort":"2048","rpcXmlPort":"2049","tls":false,"inSecure":false,"authentication":false,"username":"","password":"","queueTimeout":"5000","queuePause":"250","contextStore":""}]